target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
release.properties
.classpath
.project
.settings
resourcemanager/search.out
report/report.pdf
report/report.aux
report/report.log
report/report.synctex.gz
